<ActionBar title="{{'Indie-Pocket ' + version}}">
    <NavigationButton android.systemIcon="ic_dialog_info" android.position="right"
                      ios.position="right" ios.systemIcon="UIBarButtonSystemItemEdit"
                      (tap)="goMain()"></NavigationButton>
</ActionBar>

<ScrollView visibility="{{loaded?'visible':'collapse'}}">
    <StackLayout width="90%" marginTop="5%">
        <StackLayout visibility="{{uploading >= 0 ? 'collapse' : 'visible'}}">
            <GridLayout columns="*, *, *" rows="auto, auto, auto, auto">
                <Label class="h2" textWrap="true" text="Placement" row="0" colSpan="2"></Label>
                <Label class="h3 choose" text="Choose" visibility="{{labels.placement?'collapse':'visible'}}"
                       row="0" col="2" verticalAlignment="center"></Label>

                <Button *ngFor="let i of zeroToSeven"
                        [col]="i%3" [row]="((i - (i % 3)) / 3 + 2) % 3 + 1"
                        [text]="labels.placementLabels[i+1]"
                        (tap)="setPlacement(i+1)"
                        [class]="labels.placementClasses[i+1]"
                        textWrap="true"
                ></Button>

            </GridLayout>

            <GridLayout columns="*, *, *" rows="auto, auto, auto, auto">
                <Label class="h2" text="Action - Optional" row="0" colSpan="2"></Label>

                <Button *ngFor="let i of zeroToEight"
                        [col]="i%3" [row]="(i - (i % 3)) / 3 + 1"
                        [text]="labels.activityLabels[i]"
                        (tap)="setActivity(i)"
                        [class]="labels.activityClasses[i]"
                        textWrap="true"
                ></Button>
            </GridLayout>

            <Label class="h2" text="Control"></Label>
            <GridLayout columns="*, *, *" rows="auto">
                <Button text="Record" (tap)="start()" horizontalAlignment="left"
                        class="-outline"
                        col="0"
                        [class.inactive]="!labels.active"
                        [class.recording]="recording === 2"></Button>
                <Button text="Pause" (tap)="pause()" horizontalAlignment="center"
                        class="-outline"
                        col="1"
                        [class.inactive]="recording === 0"
                        [class.recording]="recording === 1"></Button>
                <Button text="Stop" (tap)="stop()" horizontalAlignment="right"
                        class="-outline"
                        col="2"
                        [class.inactive]="recording === 0"></Button>
            </GridLayout>
        </StackLayout>

        <StackLayout visibility="{{uploading>=0?'visible':'collapse'}}">
            <Progress [value]="uploading" maxValue="100"></Progress>

            <ActivityIndicator [busy]="uploading < 100"></ActivityIndicator>

            <Button text="Abort Upload" class="-outline" (tap)="abortUpload()"></Button>
        </StackLayout>

        <Label textWrap="true" class="h3" [text]="collector.times"></Label>

        <StackLayout orientation="horizontal" width="100%">
            <Label class="h3 debug" [text]="currentSpeed" (tap)="setSpeed()"></Label>
            <Label class="h3 debug" style="text-align:right;" width="100%" [text]="collector.rows"></Label>
        </StackLayout>
    </StackLayout>
</ScrollView>
