<StackLayout>
    <StackLayout orientation="horizontal" class="header-color" style="padding: 25em 5% 0 5%;">
        <StackLayout orientation="horizontal" style="margin-left: 5%;">
            <Image src="~/samples/icon.png" width="10%" style="margin-right: 30px;"></Image>
            <StackLayout>
                <Label text="Indie-Pocket" class="h2"></Label>
                <Label [text]="version" class="h3"></Label>
            </StackLayout>
        </StackLayout>
        <StackLayout style="text-align: right;" width="100%">
            <Label horizontalAlignment="right" style="margin-right: 5%;"
                   class="debug"
                   [text]="collector.rowString"></Label>
            <StackLayout orientation="horizontal" horizontalAlignment="right">
                <Label text="Less clicks:" verticalAlignment="middle"></Label>
                <Switch [checked]="collector.lessClicks"
                        (checkedChange)="collector.lessClicks = $event.object.checked"
                        verticalAlignment="middle"></Switch>
            </StackLayout>
        </StackLayout>
    </StackLayout>

    <GridLayout columns="*, *, *" rows="auto, auto">
        <!-- Recording - Placement-Tab - Action-Tab -->
        <StackLayout row="0" colSpan="3" class="header-color"></StackLayout>
        <StackLayout row="0" col="0"
                     style="margin-left: 5%;">
            <Label textWrap="true" [text]="collector.timeString"></Label>
            <GridLayout columns="*, auto">
                <Label col="0" [text]="collector.recording > 0 ? 'RECORDING' : 'NOT RECORDING'"></Label>
                <Label col="1" [class]="collector.flash ? 'recordSmallRed' : 'recordSmallWhite'"></Label>
            </GridLayout>
        </StackLayout>

        <StackLayout row="0" col="1" (tap)="collector.labels.tab = 0"
                     [class]="collector.labels.tab === 0 ? 'choice-active' : 'choice-inactive'">
            <Label text="PLACEMENT" class="center"></Label>
            <Label [text]="collector.labels.placementLabels[collector.labels.placement] | uppercase"
                   class="tabHeader" textWrap="true"></Label>
        </StackLayout>
        <StackLayout row="0" col="2" horizontalAlignment="left"
                     (tap)="collector.labels.tab = 1"
                     [class]="collector.labels.tab === 1 ? 'choice-active' : 'choice-inactive'">
            <Label text="ACTION" class="center"></Label>
            <Label [text]="collector.labels.activityLabels[collector.labels.activity] | uppercase"
                   class="tabHeader" textWrap="true"></Label>
        </StackLayout>

        <!-- Dashed line - eventual overlap from tab -->
        <Image row="1" colSpan="3" src="~/samples/dotted.png"></Image>
        <Label row="1" colSpan="3"
               class="passage-inactive" style="width: 100%;"></Label>
        <Label row="1" col="1"
               class="{{ collector.labels.tab === 0 ? 'passage-active' : '' }}">
        </Label>
        <Label row="1" col="2" horizontalAlignment="left"
               class="{{ collector.labels.tab === 1 ? 'passage-active' : '' }}">
        </Label>
    </GridLayout>

    <page-router-outlet></page-router-outlet>

</StackLayout>
