.debug {
    color: #888888;
}

.recordSmallWhite {
    width: 10em;
    height: 10em;
    border-radius: 5em;
    background-color: gray;
}

.recordSmallRed {
    width: 10em;
    height: 10em;
    border-radius: 5em;
    background-color: red;
}
