<ActionBar title="{{'Indie-Pocket ' + version}}">
</ActionBar>

<StackLayout width="90%" style="margin-top: 10%;">
    <HtmlView html="<h1>New version available</h1><h3>There is a new
    0.5 version available. Unfortunately we cannot update automatically. Please go to
    <a href='https://ineiti.applivery.io/indie-pocket'>Applivery</a> to install the latest version.</h3>"></HtmlView>
    <Button text="Go back to measurement" class="btn -primary" [nsRouterLink]="['/main']"></Button>
</StackLayout>
