<StackLayout>
    <StackLayout orientation="horizontal" class="header-color" style="padding: 25em 5% 0 5%;">
        <StackLayout orientation="horizontal">
            <Image src="~/samples/icon.png" width="10%" style="margin-right: 30px;"></Image>
            <StackLayout>
                <Label text="Indie-Pocket" class="h2"></Label>
                <Label [text]="version" class="h3"></Label>
            </StackLayout>
        </StackLayout>
        <StackLayout style="text-align: right;" width="100%">
            <Label horizontalAlignment="right" style="margin-right: 5%;" [text]="currentSpeed"></Label>
            <Label horizontalAlignment="right" style="margin-right: 5%;" [text]="collector.rowString"></Label>
        </StackLayout>
    </StackLayout>

    <GridLayout columns="auto, *, *, *, auto" rows="auto, auto, auto, auto, auto, auto, auto, auto">
        <!-- Recording - Placement-Tab - Action-Tab -->
        <StackLayout row="0" colSpan="5" class="header-color"></StackLayout>
        <StackLayout row="0" colSpan="2"
                     style="margin-left: 5%;">
            <Label textWrap="true" [text]="collector.timeString"></Label>
            <Label [text]="collector.recording === 1 ? 'PAUSED' : 'RECORDING'"></Label>
        </StackLayout>

        <StackLayout row="0" col="2" class="choice-inactive">
            <Label text="PLACEMENT" class="center"></Label>
            <Label [text]="collector.labels.placementLabels[collector.labels.placement] | uppercase"
                   class="tabHeader" textWrap="true"></Label>
        </StackLayout>
        <StackLayout row="0" col="3" horizontalAlignment="left"
                     class="choice-inactive">
            <Label text="ACTION" class="center"></Label>
            <Label [text]="collector.labels.activityLabels[collector.labels.activity] | uppercase"
                   class="tabHeader" textWrap="true"></Label>
        </StackLayout>

        <Image row="1" colSpan="5" src="~/samples/dotted.png"></Image>
        <Label row="1" colSpan="5"
               class="passage-inactive" style="width: 100%;"></Label>

        <StackLayout row="2" colSpan="5" class="pocket-top"></StackLayout>

        <Label col="0" row="3" rowSpan="2" class="pocket-left"></Label>
        <Label col="4" row="3" rowSpan="2" class="pocket-right"></Label>
        <Image row="3" col="1" colSpan="3" src="~/samples/zipper.png"
               style="height: 10%;"
               id="zipper"></Image>
        <Image row="3" col="1" src="~/samples/zipper-slider.png" id="zipper-slider"
               style="height: 10%;"
               (pan)="unzip($event)"
        ></Image>

        <StackLayout col="1" row="4" colSpan="3"
                     style="margin: 0 5% 0 5%;">
            <StackLayout [visibility]="countdown > 0 ? 'visible' : 'collapse'">
                <Label [text]="'Countdown: ' + countdown" class="h1 center"></Label>
            </StackLayout>
            <StackLayout [visibility]="countdown === 0 ? 'visible' : 'collapse'">
                <StackLayout [visibility]="collector.recording !== 1 ? 'visible' : 'collapse'">
                    <Label text="Recording mode" class="h1"></Label>
                    <Label text="Please don't put the phone to sleep" textWrap="true" class="h2"></Label>
                    <Label text="Unzip the zipper to unlock" textWrap="true" class="h2"></Label>
                </StackLayout>
                <StackLayout [visibility]="collector.recording === 1 ? 'visible' : 'collapse'">
                    <Button text="Upload Data" (tap)="stop(true)" class="-primary"></Button>
                    <Button text="Discard Data" (tap)="stop(false)" class="btn"></Button>
                    <Button text="Continue Recording" (tap)="pause()" class="btn"></Button>
                </StackLayout>
            </StackLayout>
        </StackLayout>

        <!-- Bottom of pocket -->
        <StackLayout row="5" colSpan="5" class="pocket-bottom">
            <Image src="~/samples/bottom_pocket.png"></Image>
        </StackLayout>

        <Label row="6" col="2" horizontalAlignment="center" class="recordWhite"></Label>
        <Label row="6" col="2" horizontalAlignment="center"
               [class]="collector.recording === 2 ? 'recordRed' : ''"></Label>
    </GridLayout>
</StackLayout>
