<ActionBar title="Indie-Pocket 0.3.4">
</ActionBar>

<StackLayout width="90%" marginTop="5%">
    <Label textWrap="true"
           class="h3"
           text="This project has been created for the LauzHack' CoVid 19 special edition. The project's goal is to help classify
It's purpose is to collect data of the accelerometers and to allow the users to classify them.
Once you turn on tracking, the app will beep every 2 minutes and ask you what you're doing and where you kept your phone.
It will then send the data to a server hosted at EPFL.
        THIS MEANS YOU HAVE TO TRUST US!
The data we send is:"></Label>
    <Label textWrap="true" class="h3" text="
- Accelerometer
- Gyroscope
- Light
- Step-counter
- Barometer
- Time
- Labels"></Label>
    <Button text="Start Measure" class="btn -primary" [nsRouterLink]="['/measure']"></Button>
</StackLayout>
