<ActionBar title="Indie-Pocket">
</ActionBar>

<StackLayout>
    <Button text="Measurement" class="btn -primary" (tap)="goMeasure()"></Button>
    <GridLayout>
        <ListView [items]="sensors">
            <ng-template let-sensor="item">
                <StackLayout orientation="horizontal">
                    <Label [text]="sensor.name" class="h2"></Label>
                    <Label [text]="sensor.values"></Label>
                </StackLayout>
            </ng-template>
        </ListView>
    </GridLayout>
</StackLayout>
