<ActionBar title="{{'Indie-Pocket ' + version}}">
    <NavigationButton android.systemIcon="ic_dialog_info" android.position="right"
                      ios.position="right" ios.systemIcon="UIBarButtonSystemItemEdit"
                      (tap)="goMain()"></NavigationButton>
</ActionBar>

<ScrollView visibility="{{loaded?'visible':'collapse'}}">
    <StackLayout width="90%" marginTop="5%">
        <GridLayout columns="*, *, *" rows="auto, auto, auto, auto">
            <Label class="h2" textWrap="true" text="Placement" row="0" colSpan="2"></Label>
            <Label class="h3 choose" text="Choose" visibility="{{labels.placement?'collapse':'visible'}}"
                   row="0" col="2" verticalAlignment="center"></Label>

            <Button *ngFor="let i of zeroToSeven"
                    [col]="i%3" [row]="((i - (i % 3)) / 3 + 2) % 3 + 1"
                    [text]="labels.placementLabels[i+1]"
                    (tap)="setPlacement(i+1)"
                    [class]="labels.placementClasses[i+1]"
            ></Button>

        </GridLayout>

        <GridLayout columns="*, *, *" rows="auto, auto, auto">
            <Label class="h2" text="Action" row="0" colSpan="2"></Label>
            <Label class="h3 choose" text="Choose" visibility="{{labels.activity?'collapse':'visible'}}" row="0" col="2"
                   verticalAlignment="center"></Label>

            <Button *ngFor="let i of zeroToFive"
                    [col]="i%3" [row]="(i - (i % 3)) / 3 + 1"
                    [text]="labels.activityLabels[i+1]"
                    (tap)="setActivity(i+1)"
                    [class]="labels.activityClasses[i+1]"
            ></Button>

        </GridLayout>

        <Label class="h2" text="Control"></Label>
        <StackLayout orientation="horizontal">
            <Button text="Record" (tap)="start()" horizontalAlignment="left"
                    [class.inactive]="!labels.active"
                    [class.recording]="recording === 2"></Button>
            <Button text="Pause" (tap)="pause()" horizontalAlignment="center"
                    [class.inactive]="recording === 0"
                    [class.recording]="recording === 1"
            ></Button>
            <Button text="Stop" (tap)="stop()" horizontalAlignment="right"
                    [class.inactive]="recording === 0"></Button>
        </StackLayout>

        <Progress [value]="uploading" maxValue="100" visibility="{{uploading>=0?'visible':'collapse'}}"></Progress>

        <ActivityIndicator [busy]="uploading >= 0"></ActivityIndicator>

        <Label textWrap="true" class="h3" [text]="times"></Label>

        <StackLayout orientation="horizontal" width="100%">
            <Label class="h3 debug" [text]="currentSpeed" (tap)="setSpeed()"></Label>
            <Label class="h3 debug" style="text-align:right;" width="100%" [text]="rows"></Label>
        </StackLayout>
    </StackLayout>
</ScrollView>
