<StackLayout>
    <GridLayout columns="auto, *, auto" rows="auto, auto, auto">
        <!-- Dashed line above buttons -->
        <StackLayout row="0" colSpan="3" class="pocket-top">
            <Image src="~/samples/dotted.png"></Image>
        </StackLayout>

        <Label row="1" col="0" class="pocket-left"></Label>
        <Label row="1" col="2" class="pocket-right"></Label>

        <!-- Bottom of pocket -->
        <StackLayout row="2" colSpan="5" class="pocket-bottom">
            <Image src="~/samples/bottom_pocket.png"></Image>
        </StackLayout>

        <!-- Buttons for upload choice -->
        <StackLayout row="1" col="1">
            <StackLayout [visibility]="uploading === 0 ? 'visible' : 'collapse'">
                <Label text="RECORDING STOPPED" class="h2 center"></Label>
                <StackLayout width="60%">
                    <Button text="Upload Data" (tap)="stop(true)" class="-primary"></Button>
                    <Button text="Discard Data" (tap)="stop(false)" class="btn"></Button>
                    <Button text="Continue Recording" (tap)="continue()" class="btn"></Button>
                </StackLayout>
            </StackLayout>
            <StackLayout [visibility]="uploading !== 0 ? 'visible' : 'collapse'">
                <Label text="UPLOADING" class="h1 center"></Label>
                <Progress [value]="uploading" maxValue="100"></Progress>
                <ActivityIndicator [busy]="uploading < 100"></ActivityIndicator>
                <Button text="Abort Upload" class="-outline" (tap)="abortUpload()" width="80%"></Button>
            </StackLayout>
        </StackLayout>

    </GridLayout>

    <Image src="~/samples/icon-stop.png" horizontalAlignment="center" style="width: 30%;"></Image>
</StackLayout>
