<GridLayout rows="*, auto">
    <StackLayout row="0">
        <StackLayout class="pocket" verticalAlignment="top">
            <Image src="~/samples/dotted.png"></Image>

            <!-- Choosing what to do with the data -->
            <StackLayout [visibility]="uploading === 0 ? 'visible' : 'collapse'">
                <Label text="RECORDING STOPPED" class="h2 center"></Label>
                <StackLayout width="60%">
                    <Button text="Upload Data" (tap)="stop(true)" class="-primary -rounded-lg"></Button>
                    <Button text="Discard Data" (tap)="stop(false)" class="-outline -rounded-lg"></Button>
                    <Button text="Continue Recording" (tap)="continue()" class="-outline -rounded-lg"></Button>
                </StackLayout>
            </StackLayout>

            <!-- Uploading the data -->
            <StackLayout [visibility]="uploading !== 0 ? 'visible' : 'collapse'">
                <Label text="UPLOADING" class="h1 center"></Label>
                <Progress [value]="uploading" maxValue="100"></Progress>
                <ActivityIndicator [busy]="uploading < 100"></ActivityIndicator>
                <Button text="Abort Upload" class="-outline -rounded-lg" (tap)="abortUpload()" width="80%"></Button>
            </StackLayout>
        </StackLayout>

        <Image src="~/samples/bottom_pocket.png" class="pocket-bottom"></Image>

    </StackLayout>

    <Image row="1" src="~/samples/icon-stop.png" horizontalAlignment="center" style="width: 30%;"></Image>
</GridLayout>
