<GridLayout rows="*, auto">
    <GridLayout row="0" rows="*, auto">
        <GridLayout row="0" rows="auto, *" class="pocket">
            <Image row="0" src="~/samples/dotted.png"></Image>

            <GridLayout row="1" columns="*, *, *" rows="*, *, *">
                <!-- Placement buttons -->
                <Button [visibility]="collector.labels.tab === 0 ? 'visible' : 'collapse'"
                        *ngFor="let i of zeroToSeven"
                        [col]="i%3" [row]="((i - (i % 3)) / 3 + 2) % 3"
                        [text]="collector.labels.placementLabels[i+1] | titlecase"
                        (tap)="setPlacement(i+1)"
                        [class]="collector.labels.placementClasses[i+1]"
                        textWrap="true"
                ></Button>

                <!-- Action buttons -->
                <Button [visibility]="collector.labels.tab === 1 ? 'visible' : 'collapse'"
                        *ngFor="let i of zeroToEight"
                        [col]="i%3" [row]="(i - (i % 3)) / 3"
                        [text]="collector.labels.activityLabels[i] | titlecase"
                        (tap)="collector.labels.setActivity(i)"
                        [class]="collector.labels.activityClasses[i]"
                        textWrap="true"
                ></Button>
            </GridLayout>

        </GridLayout>

        <Image row="1" src="~/samples/bottom_pocket.png" class="pocket-bottom"></Image>

    </GridLayout>

    <!-- Lock / Record / Stop -->
    <GridLayout row="1" width="60%" columns="*, *, *" marginTop="3%" marginBottom="2%"
                [visibility]="collector.lessClicks ? 'collapse' : 'visible'">
        <Image row="0" col="0" src="~/samples/icon-lock.png" class="button-bottom"
               (tap)="goLock()"></Image>
        <Label row="0" col="1" horizontalAlignment="center"
               [visibility]="collector.recording < 2 ? 'visible' : 'collapse'"
               class="recordWhite"></Label>
        <Label row="0" col="1" horizontalAlignment="center"
               [visibility]="collector.recording < 2 ? 'visible' : 'collapse'"
               (tap)="start()"
               [visibility]="collector.labels.active ? 'visible' : 'collapse'"
               class="recordRed"></Label>
        <Image row="0" col="1" src="~/samples/icon-pause.png"
               [visibility]="collector.recording === 2 ? 'visible' : 'collapse'"
               (tap)="pause()"
               class="button-bottom-center"></Image>
        <Image row="0" col="2" src="~/samples/icon-stop.png" class="button-bottom"
               (tap)="stop()"></Image>
    </GridLayout>
</GridLayout>
