<GridLayout rows="auto, auto, *">
    <StackLayout row="0" orientation="horizontal" class="header-color" style="padding: 25em 5% 0 5%;">
        <StackLayout orientation="horizontal" style="margin-left: 5%;">
            <Image src="~/samples/icon.png" width="10%" style="margin-right: 30px;"></Image>
            <StackLayout>
                <Label text="Indie-Pocket" class="h2"></Label>
                <Label [text]="version" class="h3"></Label>
            </StackLayout>
        </StackLayout>
        <StackLayout style="text-align: right;" width="100%">
            <Label horizontalAlignment="right" style="margin-right: 5%;"
                   class="debug"
                   [text]="collector.rowString"></Label>
        </StackLayout>
    </StackLayout>

    <GridLayout row="1" columns="*, *, *" rows="auto, auto">
        <!-- Recording - Placement-Tab - Action-Tab -->
        <StackLayout row="0" colSpan="3" class="header-color"></StackLayout>
        <StackLayout row="0" col="0"
                     style="margin-left: 5%;">
            <Label textWrap="true" [text]="collector.timeString"></Label>
            <Label [visibility]="collector.recordedString.length > 0 ? 'visible' : 'collapse'"
                   textWrap="true" [text]="collector.recordedString"></Label>
            <GridLayout columns="*, auto">
                <Label col="0"
                       [text]="['NOT RECORDING', 'PAUSE', 'RECORDING'][collector.recording]"></Label>
                <Label col="1" [class]="collector.flash ? 'recordSmallRed' : 'recordSmallWhite'"></Label>
            </GridLayout>
        </StackLayout>

        <StackLayout row="0" col="1" class="choice-inactive">
            <Label text="PLACEMENT" class="center"></Label>
            <Label [text]="collector.labels.placementLabels[collector.labels.placement] | uppercase"
                   class="tabHeader" textWrap="true"></Label>
        </StackLayout>
        <StackLayout row="0" col="2" horizontalAlignment="left" class="choice-inactive">
            <Label text="ACTION" class="center"></Label>
            <Label [text]="collector.labels.activityLabels[collector.labels.activity] | uppercase"
                   class="tabHeader" textWrap="true"></Label>
        </StackLayout>

    </GridLayout>

    <!-- This is the pocket -->
    <StackLayout row="2">

        <GridLayout rows="*, auto">
            <StackLayout row="0">
                <StackLayout class="pocket" verticalAlignment="top">
                    <Image src="~/samples/dotted.png"></Image>

                    <!-- Choosing what to do with the data -->
                    <StackLayout [visibility]="uploading === 0 ? 'visible' : 'collapse'">
                        <Label text="RECORDING STOPPED" class="h2 center"></Label>
                        <StackLayout width="60%">
                            <Button text="Upload Data" (tap)="stop(true)" class="-primary -rounded-lg"></Button>
                            <Button text="Discard Data" (tap)="stop(false)" class="-outline -rounded-lg"></Button>
                            <Button text="Change Label" (tap)="continue()" class="-outline -rounded-lg"></Button>
                        </StackLayout>
                    </StackLayout>

                    <!-- Uploading the data -->
                    <StackLayout [visibility]="uploading !== 0 ? 'visible' : 'collapse'">
                        <Label text="UPLOADING" class="h1 center"></Label>
                        <Progress [value]="uploading" maxValue="100"></Progress>
                        <ActivityIndicator [busy]="uploading < 100"></ActivityIndicator>
                        <Button text="Abort Upload" class="-outline -rounded-lg" (tap)="abortUpload()"
                                width="80%"></Button>
                    </StackLayout>
                </StackLayout>

                <Image src="~/samples/bottom_pocket.png" class="pocket-bottom"></Image>

            </StackLayout>

            <Image row="1" src="~/samples/icon-stop.png" horizontalAlignment="center" style="width: 30%;"></Image>
        </GridLayout>
    </StackLayout>
    <!-- This is the end of the pocket -->

</GridLayout>
